# Copy this file to .env and replace values with your secrets
CLOUDINARY_CLOUD_NAME=dnol8nter
CLOUDINARY_API_KEY=132785956819233
CLOUDINARY_API_SECRET=E8kGsbBejFY5t-yuOyYWMNtAiYA
# Optional: set your MongoDB connection string here and update app.py to read it from env
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
